{% load static %}
<div class="border-right border-warning h-100">
    <div class="text-center">
        <img src="{% static 'core/images/Profile.jpg'%}" alt="ProfilePic" class="img-fluid rounded-circle mt-5 " width="100px" height="100px">
        <h3 class="mt-3 text-white st-font
        ">Ashish Nehra</h3>
    </div>
    <hr class="border-light">
    <nav class="nav flex-column text-center">
        <a href="{% url 'Home'%}" class="nav-link1 mb-2 {{home}}">Home</a>
        <a href="{% url 'Projects'%}" class="nav-link1 {{projects}} mb-2">Projects</a>
        <a href="{% url 'skills'%}" class="nav-link1 mb-2 {{skill}}">Skills</a>
        <a href="{% url 'Contact'%}" class="nav-link1 mb-2 {{contact}} ">Contact</a>
    </nav>
</div>
