{% extends 'core/base.html' %}
{% load static %}
{% block content%}
<div class="mt-5">
    <h1 class="text-warning border-bottom mb-5">PROJECTS</h1>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-6">
            <i class="fas fa-address-card fa-2x text-warning mb-2"></i>            
            <h3>Resume using REACT</h3>
            <p class="ss-color">Created a Portfolio website describing my Technical skills and my Education Using <b>React</b></p>
        </div>
        <div class="col-sm-6">
            <i class="far fa-address-card fa-2x text-warning mb-2"></i>            
            <h3>Resume using DJANGO</h3>
            <p class="ss-color">Created a Resume Website  using <b>Django</b> giving Brief detail About me.</p>
        </div>
    </div>

    <div class="row text-white text-center mb-3">
        <div class="col-sm-6">
            <i class="fas fa-hashtag fa-2x text-warning mb-2"></i>            
            <h3>TICTACTOE</h3>
            <p class="ss-color">Created a web Game using <b>Javascript</b></p>
        </div>
        <div class="col-sm-6">
            <i class="fas fa-fighter-jet fa-2x text-warning mb-2"></i>            
            <h3>Flight Management System</h3>
            <p class="ss-color">Developed a Flight Management System using <b>Django</b> where we can add Flights to the system and assign those Flights to a Airport and Then we can Add passengers for the Flights.</p>
        </div>
    </div>

    <div class="row text-white text-center mb-3">
        <div class="col-sm-6">
            <i class="fas fa-baseball-ball fa-2x mb-2 text-warning"></i>            
            <h3>HandCricket</h3>
            <p class="ss-color">Developed a web game for two users Using <b>Web Sockets.</b></p>
        </div>
        <div class="col-sm-6">
            <i class="fas fa-cart-arrow-down fa-2x text-warning mb-2"></i>            
            <h3>E-Commerce Website</h3>
            <p class="ss-color">Developed a Shopping website with many Functionalities Using <b>Django, Jinja,Python</b> where a user can add a product to the cart and then can order that product by adding the Address and atlast check out by selecting a suitable payment method.</p>
        </div>
    </div>
</div>
{% endblock content %}